<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boilerplate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap" rel="stylesheet"> 
    <!-- Google Fonts --> 
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        manrope: ['Manrope', 'sans-serif'],
                    }
                }
            }
        }
    </script>
    <style>
        body {
            font-family: 'Manrope', sans-serif;
            font-size: 1rem;
            scroll-behavior: smooth;
        }
    </style>
</head>
<body class="grid place-items-center h-screen w-full bg-slate-50">
    <div class="space-y-6">
        <!-- card 1 -->
        <div class="rounded-lg bg-white p-6 flex items-center gap-4 border border-slate-100">
            <div class="rounded-full w-24 h-24 bg-slate-50">
                <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80" width="400" height="400" class="w-full h-full max-w-none object-center object-cover rounded-full" alt="">
            </div>
            <div class="flex flex-col">
                <h3 class="text-base font-bold leading-tight text-gray-900">Charlotte Everly</h3>
                <p class="text-gray-500 leading-tight text-sm mt-1">charlotte.everly@example.com</p>
                <p class="text-gray-500 leading-tight text-sm mt-1">666-715-1537</p>
                <div class="flex items-center gap-4 mt-4">
                    <a href="" class="border-none focus:outline-none text-indigo-500 font-bold uppercase text-xs">View More</a>
                    <a href="" class="border-none focus:outline-none text-indigo-500 font-bold uppercase text-xs">Edit</a>
                    <button type="button" class="border-none focus:outline-none text-pink-500 font-bold uppercase text-xs">Delete</button>
                </div>
            </div>
        </div>
        
        <!-- card 2 -->
        <div class="rounded-lg bg-white p-6 flex flex-col items-center gap-4 border border-slate-100">
            <div class="rounded-full w-24 h-24 bg-slate-50">
                <img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80" width="400" height="400" class="w-full h-full max-w-none object-center object-cover rounded-full" alt="">
            </div>
            <div class="text-center">
                <h3 class="text-base font-bold leading-tight text-gray-900">Isaac Brock</h3>
                <p class="text-gray-500 leading-tight text-sm mt-1">isaac.brock@example.com</p>
                <p class="text-gray-500 leading-tight text-sm mt-1">555-415-1337</p>
                <div class="flex items-center gap-6 mt-4 justify-center">
                    <a href="" class="border-none focus:outline-none text-indigo-500 font-bold uppercase text-xs">View More</a>
                    <a href="" class="border-none focus:outline-none text-indigo-500 font-bold uppercase text-xs">Edit</a>
                    <button type="button" class="border-none focus:outline-none text-pink-500 font-bold uppercase text-xs">Delete</button>
                </div>
            </div>
        </div>

        <!-- link -->
        <div class="flex items-center justify-center divide-x divide-gray-300 pt-8">
            <a href="/" class="text-sm leading-tight hover:text-purple-500 px-4">go to home</a>
        </div>
    </div>
</body>
</html>